<nav class="navbar navbar-expand-lg   cabecalho menu__lista">
  <div class="container-fluid container ">
    <a class="navbar-brand" href="{{ url_for('home') }}"><strong style="color:blue">Validador de CPF</strong> </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contato') }}" style="color: cornflowerblue">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>